* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "header header header header"
        "aside main  main aside2"
        "aside widgets widgets aside2"
        "footer footer footer footer";
}

.container .header {
    grid-area: header;
    background-color: aqua;
}

.container .aside {
    grid-area: aside;
    background-color: yellow;

}

.container .main {
    grid-area: main;
    background-color: green;
}

.container .aside2 {
    grid-area: aside2;
    background-color: blue;
}

.container .widgets {
    grid-area: widgets;
    background-color: red;
}

.container .footer {
    grid-area: footer;
    background-color: blueviolet;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-header {
    background-color: rgb(45, 197, 239);
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;

}

.btn-header:hover {
    text-decoration: underline;
    transform: translateY(-5px);


}

.card {
    background-image: url(/img/img-perito.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    color: rgb(12, 0, 0);
    position: relative;
    text-align: center;
    border: 3px solid white;

}

.btn {

    position: absolute;
    left: 40%;
    bottom: 0%;
    margin: 10px;
    background-color: rgb(95, 95, 226);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;

}

.btn:hover {
    transform: translateY(-4px);
    text-decoration: underline;
    background-color: black;
    color: white;

}

.card1 {
    background-image: url(/img/img-baires.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 300px;
    position: relative;
    color: white;
    border: 3px solid white;
}

.btn1 {
    position: absolute;
    left: 40%;
    bottom: 0%;
    margin: 10px;
    background-color: rgb(95, 95, 226);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.btn1:hover {
    transform: translateY(-4px);
    text-decoration: underline;
    background-color: black;
    color: white;

}

.card2 {
    background-image: url(/img/img-salinas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
    color: black;
    border: 3px solid white;
}

.btn2 {
    position: absolute;
    left: 40%;
    bottom: 0%;
    margin: 10px;
    background-color: rgb(95, 95, 226);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.btn2:hover {
    transform: translateY(-4px);
    text-decoration: underline;
    background-color: black;
    color: white;

}


.card3 {
    background-image: url(/img/img-carloz-paz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
    color: black;
    border: 3px solid white;
}

.btn3 {
    position: absolute;
    left: 40%;
    bottom: 0%;
    margin: 10px;
    background-color: rgb(95, 95, 226);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;

}

.btn3:hover {
    transform: translateY(-4px);
    text-decoration: underline;
    background-color: black;
    color: white;

}

h3 {
    text-align: center;
    color: blueviolet;
    text-decoration: underline;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
    font-family: "Poetsen One", sans-serif;
}

h1 {
    font-family: "Poetsen One", sans-serif;
}
.main{
    background-image: url(/img/img-iguazu.jpg);
}
.aside-card{
    border: 3px solid black;
    background-color: yellow;
}



@media(max-width: 768px) {
    .header {
        max-width: 100%;
    }

    .logo {
        width: 70px;
    }

    .titulo h1 {
        font-size: 18px;

    }

    .btn-header {
        font-size: 10px;
    }

    .aside {
        max-width: 100%;
    }

    .card h3 {
        font-size: 60%;
        text-decoration: none;
    }

    .card p {
        font-size: 50%;
        text-align: center;

    }

    .card .btn {
        left: 10%;
        font-size: 50%;
    }

    .card1 h3 {
        font-size: 60%;
        text-decoration: none;
    }

    .card1 p {
        font-size: 50%;
        text-align: center;

    }

    .card1 .btn1 {
        left: 10%;
        font-size: 50%;
    }
    .card2 h3 {
        font-size: 60%;
        text-decoration: none;
    }

    .card2 p {
        font-size: 50%;
        text-align: center;

    }

    .card2 .btn2 {
        left: 10%;
        font-size: 50%;
    }
    .card3 h3 {
        font-size: 60%;
        text-decoration: none;
    }

    .card3 p {
        font-size: 50%;
        text-align: center;

    }

    .card3 .btn3 {
        left: 10%;
        font-size: 50%;
    }




}